* {
  font-family: "Fredoka";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
}

body {
  background-color: rgb(0, 255, 0);
}

.caption-container {
  transform: perspective(2500px) rotateX(54deg) rotateY(7deg) rotateZ(326deg)
    scale(2);
  position: absolute;
  left: 420px;
  top: 250px;
  width: 600px;
  height: 200px;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

p {
  text-align: center;
  padding: 35px;
  vertical-align: bottom;
}
