* {
  font-family: "Fredoka";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 800;
}

body {
  background-color: rgb(0, 255, 0);
}

.caption-container {
  transform: perspective(2500px) rotateX(54deg) rotateY(7deg) rotateZ(326deg)
    scale(2);
  position: absolute;
  left: 420px;
  top: 250px;
  width: 600px;
  height: 200px;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

h1,
p {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

ul {
  margin: 0;
}

.hints span {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
